@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    hr{
        @apply overflow-visible text-center bg-inherit border-2 rounded-lg;
        @apply my-16 mx-32 !important;
        border-color: color-mix(in srgb, currentColor 30%, transparent 70%);
    }
    hr:after{
        @apply text-4xl relative -top-5 inset-x-0 font-extrabold px-4 rounded-3xl bg-inherit;
        content: "Σ";
        color: color-mix(in srgb, currentColor 30%, transparent 70%);
    }
    main {
        min-height: 65vh; 
        /* include the 65vh for compatibility with older browsers that don't support dvh
            the dvh comes after so it will override the vh if the browser supports it
        */
        min-height: 65dvh;
    }
    div, main, section {
        @apply overflow-hidden transition-all ease-in-out duration-300;
    }
    a {
        @apply hover:opacity-50 transition-all duration-300 ease-in-out;
    }
}
