@tailwind components;
@tailwind base;

@layer base {
    h2 {
        @apply text-r4xl px-4 pt-4 font-bold;
    }
    section {
        @apply px-6;
    }
    strong {
        @apply font-bold;
    }
    p {
        @apply text-rmd;
    }
}

@layer components {
    .bgAbout {
        /* Placeholder, will eventually put in image from marketing */
        background-size: cover;
        /*background-image: url("https://cdn.team2658.org/web-public/lvr.jpg");*/
        background-image: url("https://cdn.team2658.org/web-public/outreach/competitions/robotBATB24.JPG");
        background-position: 40%; /*40*/
        background-repeat: no-repeat;
    }
}
