@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    dialog {
        @apply fixed inset-0 w-[80vw] rounded-lg bg-neutral-800 p-16 text-white shadow-lg;
    }
    button {
        @apply my-4 rounded-lg bg-neutral-700 px-4 py-2 text-rlg font-bold;
    }
    button:hover {
        @apply opacity-50;
    }
    dialog::backdrop {
        @apply bg-black bg-opacity-75 bg-blend-darken backdrop-blur-xl;
    }
    label {
        @apply block self-start text-rlg font-bold;
    }
    textarea,
    input,
    input[type="text"],
    input[type="email"] {
        @apply w-full rounded-lg border-2 border-neutral-700 bg-neutral-800 p-4;
    }
    span {
        font-size: clamp(0.5rem, 2vw + 0.05rem, 1rem);
    }
}

@layer components {
    .formSection {
        @apply flex w-4/5 flex-col items-center justify-center self-center p-2;
    }
}
