.missionStatement {
  background-color: #2e2e2e;
  color: #f3ea1b;
  text-align: center;
  padding: 30px 0;
}

.missionStatement h2 {
  font-size: 45px;
  font-weight: 800;
  padding-bottom: 10px;
}

.missionStatement p {
  font-weight: 400;
}

.leadIcon {
  color: #fff;
  font-size: 35px;
  padding-bottom: 10px;
}
