.footer {
    background-color: #2E2E2E;
    padding: 50px 0;
}

.footerName {
    color: #F3EA1B;
    font-size: 65px;
    text-align: center;
}

.address {
    color: #fff;
    font-size: 20px;
    text-align: center;
}