.primaryRow {
  background-color: #f3ea1b;
  color: #2e2e2e;
  text-align: center;
  padding: 30px 15%;
}

.secondaryRow {
  background-color: #000;
  color: #fff;
  padding: 30px 15%;
  text-align: center;
}

.rowHeader {
  font-size: 45px;
  font-weight: 600;
  padding-bottom: 10px;
  width: 100%;
  padding-bottom: 25px;
}
